<html>
<head>
<style>
body {
  margin: 0;
  background-color: #FFF5EE;
}
.left {
    float: left;
    padding: 40px 15px;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #FFB3B3;
    color: white;
}
.right {
    margin-left: 250px;

}
</style>
</head>

<body>
<div class="left">
    <h1>PriCoSha</h1>
    <form action="/loginAuth" method="POST">
    	<input type="text" name = "email" placeholder="email" required/> </br>
    	<input type="password" name = "password" placeholder="password" required/></br></br>
    	<input type="submit" value = Login />
    	{% if error %}
    		<p class="error"><strong>Error:</strong> {{error}}</p>
    	{% endif %}
    </form>
    <a href="/register">Register</a>
</div>

<div class="right">
    <style type="text/css">
       	table, th, td{
       		border: 1px solid black;
       	}
    </style> 
    
    </br></br></br></br>
    <p>Here are the public content items within last 24 hours:</p>
        
    <table>
      	<th>Item ID</th>
       	<th>Item Name</th>
       	<th>File Path</th>
       	<th>Post Time</th>
       	<th>Email Post</th> 
    {% for line in public %}
       	<tr>
       		<td>{{line.item_id}}</td>
       		<td>{{line.item_name}}</td>
       		<td>{{line.file_path}}</td>
       		<td>{{line.post_time}}</td>
       		<td>{{line.email_post}}</td>
       	</tr>
    {% endfor %}
    </table>
</div>
</body>

</html>